.image-slider {
    display: flex;
    height: 35rem;
    background-color: var(--primary);
    /* border-radius: 10px; */
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .image-slider:last-child{
    margin-right: 0;
  }
  
  .main-image {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
  }
  
  .main-image img {
    width: 100%;
    height: 35rem;
    position: absolute;
  }
  
  .thumbnail-images {
    width: 28%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }


  .thumbnail-images:last-child{
    margin-top: 0;
  }
  
  .thumbnail-images img {
    width: 100%;
    height: 181.5px;
    margin-bottom: 0.5rem; 
  }

  .thumbnail-images img:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }


  .thumbnail-images img.active {
    border: 2px solid var(--gold); 
  }

  .slider-icon{
    position: absolute;
    color: var(--secondary);
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 1;
    transition: all 300ms ease-in;
  }

.previous {
    left: 1rem;
  }

.next {
    right: 1rem;

  }
  
.previous:hover,
.next:hover {
    cursor: pointer;
  }