.h-wrapper {
  background: var(--primary);
  height: 70px;
}

.h-container {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.h-container > img {
  position: absolute;
  width: 150px;
  /* top: 2px; */
  left: 6%;
}

.h-menu ul {
  float: right;
  margin-right: 100px;
}

.h-menu ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 7px;
}

.h-menu ul li a {
  position: relative;
  color: var(--secondary);
  font-size: 17px;
  font-weight: 600;
  padding: 6px 0;
}

.h-menu ul li a:hover {
  color: var(--gold);
  transition: 0.4s ease-in-out;
}

.h-menu ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 45%;
  background-color: var(--gold);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.h-menu ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

